﻿@model MiageMonitor.Data.Models.Etudiant
@{
    ViewData["Title"] = "Ajouter un étudiant";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="AddEtudiantFromEntityFramework" asp-controller="Etudiants">
    <div class="form-group row">
        <label asp-for="Nom" class="col-form-label col-sm-2"></label>
        <input asp-for="Nom" type="text" class="form-control col-sm-6" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Prenom" class="col-form-label col-sm-2"></label>
        <input asp-for="Prenom" type="text" class="form-control col-sm-6" />
        <span asp-validation-for="Prenom" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DateNaissance" class="col-form-label col-sm-2"></label>
        <input asp-for="DateNaissance" type="date" class="form-control col-sm-6" />
        <span asp-validation-for="DateNaissance" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="NumeroEtudiant" class="col-form-label col-sm-2"></label>
        <input asp-for="NumeroEtudiant" type="number" class="form-control col-sm-6" />
        <span asp-validation-for="NumeroEtudiant" class="text-danger"></span>
    </div>
    
    <input type="submit" class="btn btn-primary" value="Ajouter l'étudiant" />
</form>