﻿@using MiageMonitor.Data.Models;
@{
    IEnumerable<Etudiant> etudiantsFromEF = (IEnumerable<Etudiant>)ViewBag.EtudiantsFromEF;
    IEnumerable<Etudiant> etudiantsFromLocalAPI = (IEnumerable<Etudiant>)ViewBag.EtudiantsFromLocalAPI;
    ViewData["Title"] = "Liste des étudiants";
}

<h1>@ViewData["Title"]</h1>

<h2>Etudiants depuis EF Core</h2>
@if (etudiantsFromEF is null)
{
    <p class="text-danger">Une erreur est survenue lors de l'appel à Entity Framework.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>Numéro étudiant</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var etudiant in etudiantsFromEF)
        {
            <tr>
                <td>@etudiant.Nom</td>
                <td>@etudiant.Prenom</td>
                <td>@etudiant.DateNaissance</td>
                <td>@etudiant.NumeroEtudiant</td>
            </tr>
        }
        </tbody>
    </table>
}

<h2>Etudiants depuis l'API locale</h2>
@if (etudiantsFromLocalAPI is null)
{
    <p class="text-danger">Une erreur est survenue lors de l'appel à l'API.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Numéro étudiant</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var etudiant in etudiantsFromLocalAPI)
            {
                <tr>
                    <td>@etudiant.Nom</td>
                    <td>@etudiant.Prenom</td>
                    <td>@etudiant.DateNaissance</td>
                    <td>@etudiant.NumeroEtudiant</td>
                </tr>
            }
        </tbody>
    </table>
}
